<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/imgs/australian-shepherd.jpg">
        <link rel="stylesheet", href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="imgs/australian-shepherd.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>